body {
  background: #000;
  overflow: hidden;
}

#overlay, #videoel, #webgl, #webgl2, #img-canvas {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

#output {
  position: absolute;
  left: 0;
  top: 0;
}

#img-canvas, #webgl {
  display: block;
}

.upscale {
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

#videoel {
  z-index: 0;
  display: none;
}

#overlay {
  z-index: 1;
}

#webgl {
  z-index: 1;
  opacity: .9;
}

#bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 50.5s, opacity 4s ease;
}
